$pinned-color-1 ?= #74cf59
$pinned-color-2 ?= #ca0c16
$pinned-background-color-1 ?= #eaf9e3
$pinned-background-color-2 ?= #f9ecec

.pinned
    &.article-title
        padding: 2px 5px
        border-radius: 3px
        color: $pinned-color-1
        background-color: $pinned-background-color-1
        display: inline-block


            
